@font-face{
    font-family: 'maple';
    src:url('font/MaplestoryLight.woff2') format("woff2");
}

.backgroundimage{
    width: 100vw;
    height: 100vh; 
    position:fixed;
    background-image:url('images/bg.png');
    background-size:cover;
    opacity:0.5;
    z-index:-10;
}

body{
    margin:0px;
    overflow: hidden;
    font-family: 'maple';
    background-attachment: fixed;
    text-align: center;
}
#main{
    padding-top:200px;
    font-size:85px;
    user-select: none;
}
#main2{
    padding-top:15px;
    font-size:25px;
    user-select:none;
}

#links{
    padding-top:170px;
    font-size:20px;
    user-select:none;
}

#clock{
    padding-top:20px;
    font-size:70px;
    user-select: none;
}

@keyframes brighter {
    from {opacity:0;}
    to {opacity:1;}
}
@keyframes darker {
    from {opacity:1;}
    to {opacity:0;}
}

#settings{
    display:none;
}

.button{
    font-size:20px;
    padding:10px;
    font-family:'maple';
}